[Desktop Entry]
Type=Application
Name=XClock Tiny
Comment=XClock Tiny
Exec=xclock_tiny
Icon=xclock_tiny.png
Terminal=false
StartupWMClass=ru.altlinux.clock.widget
Categories=Utility;Clock;
StartupWMClass=XClockTiny
